Employees management:
{% for emp in employees %}
{{ emp.name }}'s schedule:
{% for job in emp.jobs %}
{{ job.scheduled_at.strftime('%H:%M') }} - {{ job.description }} #{{ job.id }} ({{ job.location }})
{% endfor %}
{% endfor %}

Unscheduled jobs:
{% for job in unscheduled %}
{{ job.description }} #{{ job.id }}
{% endfor %}
